.PredictModule {
}
.PredictModule .content-inner {
    padding-top: 200px;
}
.PredictModule .fade-div {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.PredictModule .header-row {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.PredictModule #logo {
    width: 150px;
}

.PredictModule .item-row {
    text-align: center;
    margin-top: 10px;
}

.PredictModule .input-row {
    padding-left: 30px;
    padding-right: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.PredictModule .item-row .left-col {
    text-align: left;
    width: 50%;
    float: left;
    cursor: pointer;
}
.PredictModule .item-row .right-col {
    text-align: right;
    width: 50%;
    float: right;
    cursor: pointer;
}

.PredictModule .item-row #arrow-label {
    color: gray;
    font-size: 15px;
}

.PredictModule .item-row #item-label {
    color: gray;
    font-size: 15px;
}

.PredictModule .item-row #item-value {
    font-size: 20px;
}

.PredictModule .item-row #rank {
    font-size: 40px;
}

.PredictModule .result {
    padding-bottom: 20px;
}

.PredictModule .opinion {
    cursor: pointer;
}

.PredictModule .item-col {
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
    float: left;
    width: 50%;
}

.PredictModule .item-col:hover {
    /* border-radius: 5px; */
    font-size: 30px;
    border-bottom: 1px solid yellow;
    color: yellow;
}
