.FeedItem {
    /* padding: 20px; */
    overflow: hidden;
    /* margin-bottom: 30px; */
    border-radius: 2px;
    min-height: 50px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.FeedItem .item-wrapper {
    overflow: hidden;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 20px;
    padding-top: 20px;
}
.FeedItem .stats-col {
    float: left;
    width: 40px;
    text-align: center;
}

.FeedItem .stats-col #up,
#down {
    cursor: pointer;
}

.FeedItem .main-col {
    padding-left: 10px;
    padding-top: 5px;
    float: left;
    width: calc(100% - 50px);
}

.FeedItem .info-row #date {
    float: right;
    font-size: 14px;
    color: gray;
}

.FeedItem .info-row #rank {
    font-size: 18px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.FeedItem .A {
    background-color: yellow;
}

.FeedItem .B {
    background-color: rgb(151, 151, 0);
}

.FeedItem .C {
    background-color: yellow;
}

.FeedItem .D {
    background-color: rgb(131, 131, 131);
    color: rgb(0, 0, 0);
}

.FeedItem .E {
    background-color: rgb(131, 131, 131);
    color: rgb(0, 0, 0);
}

.FeedItem .content-row {
    padding-top: 10px;
}
