.FeedItem {
    /* padding: 20px; */
    overflow: hidden;
    /* margin-bottom: 30px; */
    border-radius: 2px;
    min-height: 50px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.FeedItem .item-wrapper {
    overflow: hidden;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 20px;
    padding-top: 20px;
}
.FeedItem .stats-col {
    float: left;
    width: 40px;
    text-align: center;
}

.FeedItem .stats-col #up,
#down {
    cursor: pointer;
}

.FeedItem .main-col {
    padding-left: 10px;
    padding-top: 5px;
    float: left;
    width: calc(100% - 50px);
}

.FeedItem .info-row #date {
    float: right;
    font-size: 14px;
    color: gray;
}

.FeedItem .info-row #rank {
    font-size: 18px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-align: center;
}

.FeedItem #artist {
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
}

.FeedItem .A {
    color: red;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 20px;
}

.FeedItem .B {
    color: rgb(43, 43, 195);
    font-weight: bold;
    border: 2px solid rgb(43, 43, 195);
    border-radius: 20px;
}

.FeedItem .C {
    color: rgb(14, 136, 14);
    font-weight: bold;
    border: 2px solid rgb(14, 136, 14);
    border-radius: 20px;
}

.FeedItem .D {
    color: rgb(131, 131, 131);
    font-weight: bold;
    border: 2px solid rgb(131, 131, 131);
    border-radius: 20px;
}

.FeedItem .E {
    color: rgb(131, 131, 131);
    font-weight: bold;
    border: 2px solid rgb(131, 131, 131);
    border-radius: 20px;
}

.FeedItem .content-row {
    padding-top: 13px;
    font-family: "Noto Sans KR", sans-serif;
}
