.comment-modal-wrapper {
 background-color: rgb(14, 14, 14) !important;
}

/* .comment-modal-header.modal-header {
    border-bottom: none;
    padding-right: 20px !important;
    padding-left: 135px !important;
    padding-top: 20px !important;

} */

/* .comment-modal-header.modal-header .modal-title {
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 25px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: lightgray;
} */

.comment-modal-body {
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px;

    font-family: "Noto Sans KR", sans-serif;
}

.comment-modal-body .stats-row {
    overflow: hidden;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(39, 39, 39);
}

.comment-modal-body .stats-col {
    float: left;
}
.comment-modal-body .rank {
    width: 15%;
}
.comment-modal-body .artist {
    width: 35%;
}
.comment-modal-body .song {
    width: calc(100% - 50%);
}
.comment-modal-body .item-label {
    color: gray;
    margin-right: 5px;
    font-size: 15px;
}
.comment-modal-body .item-value {
    font-size: 20px;
}

.comment-modal-body .input-row {
    padding-top: 30px;
}
.comment-modal-body .input-row input {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* height: 150px; */
}

.comment-modal-body .submit-row {
    padding-top: 40px;
}

.comment-modal-body .submit-row #submit {
    background-color: black;
    color: rgb(129, 129, 129);
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}
.comment-modal-body .submit-row #cancle {
    background-color: rgb(114, 28, 28);
    color: rgb(129, 129, 129);
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.comment-modal-body #limit {
    color: white;
    float: right;
    overflow: hidden;
}
.comment-modal-body .rank-value {
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.comment-modal-body .A {
    /* background-color: rgb(151, 151, 44); */
    border: 1px solid rgb(151, 151, 44);
    color: rgb(229, 255, 0);
}
.comment-modal-body .B {
    border: 1px solid rgb(26, 46, 156);
    color: rgb(39, 68, 228);
}
.comment-modal-body .C {
}
.comment-modal-body .D {
}
.comment-modal-body .E {
}

/* .rank-result-box {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.rank-result-box .rank-result {
    font-size: 30px;
    color: red;
    font-weight: bolder;
    margin-left: 10px;
    font-family: "Noto Sans KR", sans-serif;
}

.result-row .singer-result-box {
    width: 50%;
    text-align: center;
}

.singer-result-box .singer-result {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    font-family: "Noto Sans KR", sans-serif;
    color: lightgray;
}

.comment-modal-body .song-result-box {
    padding-top: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.song-result-box .song-result {
    color: lightgray;
    margin-left: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.comment-modal-wrapper .comment-modal-footer {
    border-top: none;
    margin-top: -25px !important;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    align-items: center;
}

.rank-result-box .result-name {
    color: lightgray;
    font-family: "Noto Sans KR", sans-serif;
    margin-right: 12px;
    margin-left: 5px;
    font-size: 20px;
}

.singer-result-box .result-name {
    color: lightgray;
    font-family: "Noto Sans KR", sans-serif;
    margin-right: 8px;
    margin-left: 2px;
}

.song-result-box .result-name {
    color: lightgray;
    font-family: "Noto Sans KR", sans-serif;
    margin-right: 8px;
    margin-left: 2px;
}

.comment-modal-body .WhiteInput {
    margin-top: 15px !important;
}

.comment-modal-footer button {
    background-color: rgb(26, 25, 25);
    opacity: 0.7;
    color: white;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
} */
